body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* Colors */
    --color-white: #fff;
    --color-teal: #11778d;
  
    /* Paddings */
    --padding-lg: 18px;
    --padding-xl: 20px;
  
    /* Border radiuses */
    --br-11xl: 30px;
  }
  